<mat-spinner *ngIf="loading" class="loading-spinner"></mat-spinner>
<div [ngClass]="loading ? 'companies-list-none' : 'companies-list-block'">
  <section class="section-header">
    <div class="title">Compañias</div>
    <div *ngIf="!true">
      <button mat-flat-button color="primary">
        Agregar compañia
      </button>
    </div>
  </section>
  <section class="companies-list"
    [ngClass]="(dataCompanies || []).length <= 0 ? 'companies-list-none' : 'companies-list-block'">
    <!-- <section class="companies-list" *ngIf="(dataCompanies || []).length > 0"> -->
    <div class="mb-3 row">
      <label for="idCountry" class="col-sm-1 col-form-label">Id País: </label>
      <div class="col-sm-5">
        <!-- <select class="form-control form-select" name="idCountry">
          <option value="" disabled selected>Seleccionar</option>
          <option *ngFor="let item of countriesOptions; let i = index" [id]="i" [value]="item">
            {{ item }}
          </option>
        </select> -->
        <input type="text" placeholder="Selecciona id país" class="form-control" [matAutocomplete]="auto"
          (keyup)="_filter($event)" (change)="changeFilter($event, '')">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let idCountry of countriesOptions" [value]="idCountry" (click)="changeFilter($event, idCountry)">
            {{idCountry}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <table mat-table [dataSource]="dataCompanies" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

      <!-- Id empresa Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
          Id empresa
        </th>
        <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="editCompany(element)">{{element.id}}</a> </td>
      </ng-container>

      <!-- Descripción Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
          Descripción
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Id País Column -->
      <ng-container matColumnDef="idCountry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idCountry">
          Id País
        </th>
        <td mat-cell *matCellDef="let element"> {{element.idCountry}} </td>
      </ng-container>

      <!-- Parámetro Empresa Column -->
      <ng-container matColumnDef="param">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by param">
          Parámetro Empresa
        </th>
        <td mat-cell *matCellDef="let element"> {{element.param}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab class="button-action" color="primary" aria-label="Example icon button with a edit icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab class="button-action" color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </section>
  <div *ngIf="(dataCompanies || []).length <= 0" class="alert alert-warning">
    <span class="error">No se encontraron compañias</span>
  </div>
</div>
