@import '../../../../assets/sass/common';

.section-header {
  display: flex;
  justify-content: space-between;
}

th.mat-sort-header-sorted {
  color: black;
}

.alerts-list-block {
  display: block;
}

.alerts-list-none {
  display: none;
}

td a {
  text-decoration: none;
}
